# Python
# Arquivos de bytecode e caches do Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambientes virtuais
env/
venv/
ENV/
.venv/
*.env

# Arquivos de build e distribuição
build/
dist/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
# Arquivos de log e configurações locais
*.log
local_settings.py

# Banco de dados SQLite padrão do Django
db.sqlite3
db.sqlite3-journal

# Diretório de mídia (uploads)
media/

# Angular
# Dependências e builds
/node_modules/
/dist/
/tmp/
/out-tsc/
.angular/

# IDEs e editores
# IntelliJ IDEA
.idea/

# Visual Studio Code
.vscode/

# Arquivos temporários do Vim
*.swp
*.swo

# Docker
# Dados gerados pelo Docker
.docker/data/

# PostgreSQL
# Arquivos temporários ou backups do PostgreSQL
*.psql